@import "tailwindcss";
@plugin "daisyui";

.loader {
    border-top-color: #3498db;
    /* blue color */
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}